p.number {
    top: 13px;
    position: absolute;
    right: 0;
    font-size: 14px;
}

h4.listTitle{
    font-size: 14px !important;
}

mat-list-item.mat-list-item.ng-star-inserted:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
}

mat-divider.mat-divider.mat-divider-horizontal {
    display: none;
}